@import "tailwindcss";

/* Force black background everywhere */
html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  overscroll-behavior: none;
  overflow-x: hidden;
}

#__next {
  height: 100%;
}
